.footer{
  background-color: #222;
  color: white;
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.social_list{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1rem;

}

.social_list li:hover{
  color: #FFBB33;
}

.social_list svg{
  font-size: 1.7rem;
  cursor: pointer;
}

.copy_right{
  margin-top: 2rem;
}

.copy_right span{
  font-weight: bold;
  color: #FFBB33;
}